.para-width-main{
  font-size: 14px;
  color: grey;
}


.maindiv-of-recrnt-job-slider{
  border-radius: 10px !important;
  width: 95% !important;
}

.maindiv-2{
  /* border-radius: 10px !important; */
  width: 150% !important;
}