#btn-nav-user {
  background-color: #865ddd !important;
  color: #fff;
  border-radius: 5px;
}
/* 
.home-text-change:active{
  color: #865DDD !important;
} */

.something-new-cand {
  color: #865ddd !important;
}
